<div *ngIf="pageLoadProperties.isDataLoaded && pageLoadProperties.isAccessAllowed">
  <app-group-breadcrumb
    breadcrumb
    *ngIf="group != null"
    [group]="group"
    [items]="['Subject', subject.name]"
  ></app-group-breadcrumb>

  <div header>
    <div flex>
      <button (click)="onBackClick()" nz-button flex-button nzType="default">
        <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
        <span>Back</span>
      </button>
    </div>
    <div *ngIf="permissionsHelper.hasPermissions(this.permissions,[permission.Admin, permission.SubjectsManager])" flex subject-actions>
      <button (click)="toggleSubjectStatus()" *ngIf="subject.isActive" nz-button flex-button nzType="default">
        <i nz-icon nzType="stop" nzTheme="outline"></i>
        <span>Make inactive</span>
      </button>
      <button (click)="toggleSubjectStatus()" *ngIf="!subject.isActive" nz-button flex-button nzType="default">
        <i nz-icon nzType="check-circle" nzTheme="outline"></i>
        <span>Make active</span>
      </button>
      <button (click)="managePeopleClick()" nz-button flex-button nzType="default">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>Manage people</span>
      </button>
      <button (click)="attachFilesClick()" nz-button flex-button nzType="default">
        <i nz-icon nzType="snippets" nzTheme="outline"></i>
        <span>Attach files</span>
      </button>
      <button (click)="deleteSubject()" nz-button nzDanger flex-button nzType="default">
        <i nz-icon nzType="delete" nzTheme="outline"></i>
        <span>Delete</span>
      </button>
      <button [routerLink]="['/', groupAlias, 'subjects', subjectId, 'edit']" nz-button flex-button nzType="primary">
        <i nz-icon nzType="edit" nzTheme="outline"></i>
        <span>Edit</span>
      </button>
    </div>
    <i *ngIf="permissionsHelper.hasPermissions(this.permissions,[permission.Admin, permission.SubjectsManager])" subject-actions-menu nz-icon nzType="more" nzTheme="outline" [matMenuTriggerFor]="menu"></i>
  </div>

  <div subject-metadata>
    <app-labeled-field label="Name">
      <span metadata-value>{{subject.name}}</span>
    </app-labeled-field>

    <app-labeled-field label="Status">
      <nz-badge subject-status-badge *ngIf="subject.isActive" nzColor="green" nzText="Active"></nz-badge>
      <nz-badge subject-status-badge *ngIf="!subject.isActive" nzColor="red" nzText="Inactive"></nz-badge>
    </app-labeled-field>

  </div>

  <div subject-data>
    <app-section *ngIf="subject.people?.length > 0" title="People">
      <app-subject-person-button
        *ngFor="let person of subject.people"
        [person]="person"
        [groupAlias]="groupAlias"
        [subjectId]="subjectId"
      ></app-subject-person-button>
    </app-section>

    <app-section *ngIf="subject.files?.length > 0" title="Files">
      <app-subject-file
        *ngFor="let file of subject.files"
        [file]="file"
        (onDownload)="downloadFile($event)"
      ></app-subject-file>
    </app-section>
  </div>
</div>

<app-access-denied *ngIf="pageLoadProperties.isDataLoaded && !pageLoadProperties.isAccessAllowed"></app-access-denied>

<mat-menu #menu="matMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="toggleSubjectStatus()" *ngIf="subject.isActive">
      <i nz-icon nzType="stop" nzTheme="outline"></i>
      <span>Make inactive</span>
    </li>
    <li nz-menu-item (click)="toggleSubjectStatus()" *ngIf="!subject.isActive">
      <i nz-icon nzType="check-circle" nzTheme="outline"></i>
      <span>Make active</span>
    </li>
    <li nz-menu-item (click)="managePeopleClick()">
      <i nz-icon nzType="user" nzTheme="outline"></i>
      <span>Manage people</span>
    </li>
    <li nz-menu-item (click)="attachFilesClick()">
      <i nz-icon nzType="snippets" nzTheme="outline"></i>
      <span>Attach file</span>
    </li>
    <li nz-menu-item [routerLink]="['/', groupAlias, 'subjects', subjectId, 'edit']">
      <i nz-icon nzType="edit" nzTheme="outline"></i>
      <span>Edit</span>
    </li>
    <li nz-menu-item (click)="deleteSubject()" class="delete-menu-button">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
      <span>Delete</span>
    </li>
  </ul>
</mat-menu>
