:host {
    width: 100%;
}

[header] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

[subject-actions] button {
    margin-left: 10px;
}

[subject-actions-menu] {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

[subject-metadata] {
    display: flex;
    align-items: center;
}

app-labeled-field {
    margin-right: 100px;
}

app-labeled-field:last-child {
    margin-right: 0;
}

[metadata-value], nz-badge{
    font-size: 20px;
}


[subject-data] {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

[subject-data-section] {
    width: 100%;
}

app-section {
    margin-bottom: 50px;
    width: 100%
}

app-subject-person-button {
    width: 24%;
    margin-right: 1.333%;
}

app-subject-person-button:nth-child(4n+4) {
    margin-right: 0;
}


app-subject-file {
    width: 24%;
    margin-right: 1.333%;
}

app-subject-file:nth-child(4n+4) {
    margin-right: 0;
}

.delete-menu-button {
  color: red;
}

[breadcrumb] {
  display: none;
  margin-bottom: 10px;
}

@media screen and (max-width: 1580px) {
    app-subject-person-button {
        width: 32.667%;
        margin-right: 1%;
    }

    app-subject-person-button:nth-child(3n+3) {
        margin-right: 0;
    }

    app-subject-person-button:nth-child(4n+4) {
        margin-right: 1%;
    }

    app-subject-file {
        width: 32.667%;
        margin-right: 1%;
    }

    app-subject-file:nth-child(3n+3) {
        margin-right: 0;
    }

    app-subject-file:nth-child(4n+4) {
        margin-right: 1%;
    }

}

@media screen and (max-width: 1300px) {
    app-subject-person-button {
        width: 49%;
        margin-right: 2%;
    }

    app-subject-person-button:nth-child(2n+2) {
        margin-right: 0;
    }

    app-subject-person-button:nth-child(2n+1) {
        margin-right: 2%;
    }

    app-subject-file {
        width: 49%;
        margin-right: 2%;
    }

    app-subject-file:nth-child(2n+2) {
        margin-right: 0;
    }

    app-subject-file:nth-child(2n+1) {
        margin-right: 2%;
    }

    [subject-actions-menu] {
        display: block;
    }

    [subject-actions] {
        display: none;
    }

}

@media screen and (max-width: 950px) {
    app-subject-person-button {
        width: 100%;
    }

    app-subject-person-button:nth-child(2n+1) {
      margin-right: 0;
    }

    app-subject-file {
        width: 100%;
    }

    app-subject-file:nth-child(2n+1) {
        margin-right: 0;
    }

    app-labeled-field {
      margin-right: 0;
      margin-bottom: 30px;
    }

    [subject-metadata] {
        flex-direction: column;
        align-items: flex-start;
    }

    [metadata-record-container] {
        margin-right: 0;
        margin-bottom: 20px;
    }

    [subject-data]{
        margin-top: 20px;
    }

    app-section {
        margin-bottom: 10px;
    }

  [breadcrumb] {
    display: block;
  }
}
