<nz-layout wrapper>
    <app-header
      [group]="group"
      (onSiderToggle)="toggleMenuSider()"
    ></app-header>
    <nz-layout main-content>
        <app-sider
          *ngIf="group != null"
          sider
          [group]="group"
          [permissions]="permissions"
          [isVisible]="isSiderVisible"
          [ngClass]="isSiderVisible  ? 'sider-visible' : 'sider-hidden'"
        ></app-sider>
        <nz-content>
            <div inner-content>
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
  </nz-layout>


<div *ngIf="isSiderVisible" (click)="toggleMenuSider()" background-overlay></div>
