<a (click)="subjectClick()" subject-title>{{ subject.name }}</a>
<div flex>
  <div flex>
    <i more-action-icon nz-icon nzType="more" nzTheme="outline" [matMenuTriggerFor]="menu"></i>
  </div>
  <mat-menu #menu="matMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="editClick()">
        <i nz-icon nzType="edit" nzTheme="outline"></i>
        <span>Edit</span>
      </li>
      <li nz-menu-item (click)="deleteClick()" class="delete-menu-button">
        <i nz-icon nzType="delete" nzTheme="outline"></i>
        <span>Delete</span>
      </li>
    </ul>
  </mat-menu>
</div>

