<div class="container">

  <div header>Select permissions</div>

  <nz-checkbox-wrapper permissions-container (nzOnChange)="onSelectChange($event)">
    <ul nz-list [nzDataSource]="permissions" nzSize="large">
      <li nz-list-item *ngFor="let permission of permissions" nzNoFlex>
        <label file nz-checkbox [ngModel]="isSelected(permission)" [nzValue]="permission">
          <div file-name><span>{{ permission }}</span></div>
        </label>
      </li>
    </ul>
  </nz-checkbox-wrapper>

  <div class="actions">
    <button (click)="onCancelClick()" nz-button nzType="default" nzDanger>
      <i nz-icon nzType="close" nzTheme="outline"></i>
      <span>Cancel</span>
    </button>
    <button (click)="onSaveClick()" nz-button nzType="primary">
      <i nz-icon nzType="check" nzTheme="outline"></i>
      <span>Save</span>
    </button>
  </div>
</div>
