<div *ngIf="pageLoadProperties.isDataLoaded && pageLoadProperties.isAccessAllowed">
  <app-group-breadcrumb
    breadcrumb
    *ngIf="group != null"
    [group]="group"
    [items]="['Associated people']"
  ></app-group-breadcrumb>
  <div settings>
    <div filters>
      <nz-input-group search nzSearch [nzAddOnAfter]="suffixIconButton">
        <input nz-input placeholder="Search..." [(ngModel)]="filters.search" (ngModelChange)="filtersChanged()"/>
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button search-field-icon nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
    </div>

    <div flex actions>
      <button flex-button (click)="onFiltersClick()" nz-button nzType="default">
        <i nz-icon nzType="filter" nzTheme="outline"></i>
        <span>Filters</span>
      </button>
      <button flex-button *ngIf="permissionsHelper.hasPermissions(this.permissions,[Permission.Admin, Permission.AssociatedPeopleManager])" (click)="onAddNew()" add-person-button nz-button nzType="primary">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        <span>Add person</span>
      </button>
    </div>

    <button (click)="openMobileMenu()" mobile-menu-button nz-button nzType="default">
      <i nz-icon nzType="menu" nzTheme="outline"></i>
    </button>
  </div>
  <ul nz-list [nzDataSource]="people" nzSize="large">
    <li nz-list-item *ngFor="let person of people" nzNoFlex>
      <a (click)="onPersonClick(person.id)" nz-list-item-title>
        <img *ngIf="person.imageUrl != null" [src]="person.imageUrl"  person-image>
        <nz-avatar *ngIf="person.imageUrl == null" [nzText]="getAbbreviation(person.fullname)" style="color:#2776e6; background-color:#f0f9ff;" [nzSize]="35" person-image></nz-avatar>
        <span>{{ person.fullname }}</span>
      </a>
    </li>
  </ul>
</div>

<app-access-denied *ngIf="pageLoadProperties.isDataLoaded && !pageLoadProperties.isAccessAllowed"></app-access-denied>

