<div class="container">
  <div class="filters">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input search nz-input placeholder="Search..."  [(ngModel)]="filters.search" (ngModelChange)="getMembers()"/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button search-field-icon nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>

  <div members-container>
    <ul *ngIf="members.length != 0" nz-list [nzDataSource]="members" nzSize="large">
      <li nz-list-item *ngFor="let member of members" nzNoFlex>
        <div member-title>

          <img *ngIf="member.imageUrl != null && member.status == UserGroupStatus.Inactive" [src]="member.imageUrl" member-image-no-badge>
          <nz-avatar *ngIf="member.imageUrl == null && member.status == UserGroupStatus.Inactive" [nzText]="this.stringTools.getFullnameAbbreviation(member.fullname)" style="color:#2776e6; background-color:#f0f9ff;" [nzSize]="35" member-image-no-badge></nz-avatar>

          <nz-badge member-image-badge *ngIf="member.imageUrl != null && member.status == UserGroupStatus.Active" [nzCount]="activeLabel">
            <img [src]="member.imageUrl" member-image>
          </nz-badge>
          <nz-badge member-image-badge *ngIf="member.imageUrl == null && member.status == UserGroupStatus.Active" [nzCount]="activeLabel">
            <nz-avatar [nzText]="this.stringTools.getFullnameAbbreviation(member.fullname)" style="color:#2776e6; background-color:#f0f9ff;" [nzSize]="35" member-image></nz-avatar>
          </nz-badge>

          <nz-badge member-image-badge *ngIf="member.imageUrl != null && member.status == UserGroupStatus.RequestPending" [nzCount]="pendingLabel">
            <img [src]="member.imageUrl" member-image>
          </nz-badge>
          <nz-badge member-image-badge *ngIf="member.imageUrl == null && member.status == UserGroupStatus.RequestPending" [nzCount]="pendingLabel">
            <nz-avatar [nzText]="this.stringTools.getFullnameAbbreviation(member.fullname)" style="color:#2776e6; background-color:#f0f9ff;" [nzSize]="35" member-image></nz-avatar>
          </nz-badge>

          <nz-badge member-image-badge *ngIf="member.imageUrl != null && member.status == UserGroupStatus.AccessRestricted" [nzCount]="bannedLabel">
            <img [src]="member.imageUrl" member-image>
          </nz-badge>
          <nz-badge member-image-badge *ngIf="member.imageUrl == null && member.status == UserGroupStatus.AccessRestricted" [nzCount]="bannedLabel">
            <nz-avatar [nzText]="this.stringTools.getFullnameAbbreviation(member.fullname)" style="color:#2776e6; background-color:#f0f9ff;" [nzSize]="35" member-image></nz-avatar>
          </nz-badge>

          <span>{{ member.fullname }}</span>
        </div>
        <div member-actions>
          <button (click)="addUserToGroup(member.username)" *ngIf="member.status == UserGroupStatus.Inactive" flex-button nz-button nzType="default">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
            <span>Add</span>
          </button>
        </div>
      </li>
    </ul>

    <div *ngIf="members.length == 0" search-message-container>
      <i nz-icon nzType="search" nzTheme="outline"></i>
      <div no-select>Input at least <b>3 symbols</b> for find a person</div>
    </div>
  </div>

  <div actions>
    <button (click)="onSaveClick()" nz-button nzType="default">
      <i nz-icon nzType="close" nzTheme="outline"></i>
      <span>Close</span>
    </button>
  </div>
</div>

<ng-template #activeLabel>
  <i nz-icon nzType="check-circle" nzTheme="fill" class="ant-scroll-number-custom-component" style="color: green"></i>
</ng-template>
<ng-template #bannedLabel>
  <i nz-icon nzType="close-circle" nzTheme="fill" class="ant-scroll-number-custom-component" style="color: red"></i>
</ng-template>
<ng-template #pendingLabel>
  <i nz-icon nzType="question-circle" nzTheme="fill" class="ant-scroll-number-custom-component" style="color: orange"></i>
</ng-template>
