[calendar-header] {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

[month-selector] {
    margin-right: 10px;
}

[month-selector-mini] {
    display: none;
    margin-right: 10px;
}

[date-cell] {
    display: flex;
    flex-direction: column;
    padding: 0;
}


[date-cell] nz-badge {
    margin-bottom: 10px;
}

[date-metadata-tag] {
    padding: 1px 5px;
    font-size: 14px;
    margin-bottom: 2px;
}

[сolor-black] {
    color: #4f4f4f;
}

[date-cell] {
    display: flex;
    flex-direction: row;
    align-items: center;
}

[date-cell] nz-badge {
    margin-bottom: 0;
}


@media screen and (max-width: 1700px) {

    [month-selector] {
        display: none;
    }
    
    [month-selector-mini] {
        display: block;
        width: 120px;
    }
}

