<div dialog-filters>

  <div flex-column status-picker-container>
    <span no-select>Status:</span>
    <nz-radio-group [(ngModel)]="statusString" nzButtonStyle="solid">
      <label nz-radio-button nzValue="1">All</label>
      <label nz-radio-button nzValue="2">Active only</label>
      <label nz-radio-button nzValue="3">Past</label>
    </nz-radio-group>
  </div>

  <div modal-actions>
    <button (click)="onCancelClick()" nz-button nzType="primary" nzDanger><i nz-icon nzType="close" nzTheme="outline"></i>Cancel</button>
    <button (click)="onOkClick()" nz-button nzType="primary"><i nz-icon nzType="check" nzTheme="outline"></i>Ok</button>
  </div>
</div>
