
[schedules-settings] {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

[schedules-filters] {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

[search] {
  width: 400px;
}

[actions] {
  display: flex;
  justify-content: flex-end;
}

[add-schedule-button]  {
  margin-left: 15px;
}

[flex-column] {
  margin-bottom: 15px;
}

[flex-column] span {
  margin-bottom: 5px;
}

[modal-actions] {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

[modal-actions] button {
  margin-left: 10px;
}

nz-radio-group {
  display: flex;
}

nz-radio-group label {
  width: 100%;
  text-align: center;
}


[mobile-menu-button] {
  display: none;
  margin-left: 10px;
  padding: 1px 7px;
}

[mobile-menu-button] i {
  color: #c7c7c7
}


@media screen and (max-width: 950px) {

  [schedules-settings], [search] {
    width: 100%;
  }

  [actions] {
    display: none;
  }

  [mobile-menu-button] {
    display: block;
  }
}

