<div wrapper>
  <div container>
    <div header>
      <div flex>
        <button routerLink="" back-button nz-button flex-button nzType="default">
          <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
          <span>Back</span>
        </button>
      </div>
      <span create-group-label>Create a new group</span>
    </div>

    <form nz-form [formGroup]="groupForm" nzLayout="vertical">

      <nz-form-item>
        <nz-form-label nzRequired>Alias</nz-form-label>
        <nz-form-control [nzValidateStatus]="aliasStatus" nzHasFeedback nzErrorTip="Provided alias is invalid or already used by another group">
          <nz-input-group [nzSuffix]="suffixTemplateInfo" >
            <input type="text" nz-input placeholder="Provide group alias..." formControlName="alias"/>
          </nz-input-group>
          <ng-template #suffixTemplateInfo>
            <i nz-icon nz-tooltip nzTooltipTitle="Alias is a unique user-friendly identifier of your group that can not be changed after group is created" nzType="info-circle"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Name</nz-form-label>
        <nz-form-control  nzErrorTip="Group name is required">
          <input type="text" nz-input placeholder="Provide group name..." formControlName="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <label nz-checkbox formControlName="isPublic">Is Public</label>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Description</nz-form-label>
        <nz-form-control>
          <textarea nz-input placeholder="Group description..." formControlName="description" [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>

    <div actions>
      <button (click)="createGroup()" flex-button nz-button nzType="primary">
        <i nz-icon nzType="check" nzTheme="outline"></i>
        <span>Create</span>
      </button>
    </div>


  </div>
</div>
