nz-sider {
  box-shadow: 0 2px 8px #f0f1f2;
  height: 100%;
}

[nz-menu] {
  border-right: none;
}

[nz-menu-item]{
    display: flex;
    align-items: center;
}

[menu-item-icon] {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-bottom: 3px;
}

[menu-item-label] {
    font-size: 17px;
}

[group] {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

[group-logo] {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

[group-icon-preview] {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-color: #ff4d4f;
  margin: 3px 10px 3px 0;
}

[group-name] {
  margin-right: 5px;
}

[back-button] {
  padding: 10px 0;
  display: none;
  justify-content: center;
  align-items: center;
  outline: none;
  border-top: 1px solid #f6f6f6;
  background-color: #fdfdfd;
  color: #4f4f4f;
}

[back-icon]  {
  font-size: 15px;
  margin-right: 10px;
}

[back-label] {
  font-size: 17px;
  margin-bottom: 2px;
}

@media screen and (max-width: 950px) {
  [back-button] {
    display: flex;
  }
}
