<div container>
    <button (click)="previousDate()" nz-button nzType="default"><i nz-icon nzType="double-left" nzTheme="outline"></i></button>
    <nz-date-picker [nzDateRender]="tplRender" nzFormat="longDate" nzAllowClear="false" [(ngModel)]="date" (ngModelChange)="dateChange()"></nz-date-picker>
    <button (click)="nextDate()" nz-button nzType="default"><i nz-icon nzType="double-right" nzTheme="outline"></i></button>
</div>

<ng-template #tplRender let-current>
  <div class="ant-picker-cell-inner">
    <div date-container>
      <span date>{{ current.getDate() }}</span>
      <div event-metadata>
        <div *ngIf="hasEventSeverity(current, 3)" dot high-severity></div>
        <div *ngIf="hasEventSeverity(current, 2)" dot medium-severity></div>
        <div *ngIf="hasEventSeverity(current, 1)" dot low-severity></div>
      </div>
    </div>
  </div>
</ng-template>
