<div container [class.background]="member.status === 3">
  <div member-title>
    <img *ngIf="member.imageUrl != null" [src]="member.imageUrl"  member-image>
    <nz-avatar *ngIf="member.imageUrl == null" [nzText]="stringTool.getFullnameAbbreviation(member.fullname)" style="color:#2776e6; background-color:#f0f9ff;" [nzSize]="35" member-image></nz-avatar>
    <span>{{ member.fullname }}</span>
  </div>
  <div actions *ngIf="member.status == 3">
    <button (click)="rejectClick()" flex-button nz-button nzType="default" nzDanger>
      <i nz-icon nzType="close" nzTheme="outline"></i>
      <span>Reject</span>
    </button>
    <button (click)="acceptClick()" flex-button nz-button nzType="default">
      <i nz-icon nzType="check" nzTheme="outline"></i>
      <span>Accept</span>
    </button>
  </div>
  <i *ngIf="member.status == 1 && permissionsHelper.hasPermissions(this.permissions,[Permission.Admin]) && !member.isAdmin" nz-icon nzType="more" [matMenuTriggerFor]="menu" nzTheme="outline"></i>
</div>



<mat-menu #menu="matMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="managePermissions()">
      <i nz-icon nzType="safety" nzTheme="outline"></i>
      <span>Manage permissions</span>
    </li>
    <li nz-menu-item (click)="removeClick()">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
      <span>Remove from group</span>
    </li>
    <li ban-menu-item nz-menu-item class="delete-menu-button" (click)="banClick()">
      <i nz-icon nzType="stop" nzTheme="outline"></i>
      <span>Ban</span>
    </li>
  </ul>
</mat-menu>
