[container] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5px;
}

.background {
  background-color: #fafafa;
}

[member-title] {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 15px;
  color: #4f4f4f;
}

[member-title] span {
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[member-title]:hover {
  color: #2776e6;
}

[member-image] {
  margin-right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

[actions] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

[actions] button {
  margin-left: 10px;
}

[hover-actions] {
  display: none;
  align-items: center;
  justify-content: flex-end;
}

[hover-actions] button {
  margin-left: 10px;
}

[container]:hover {
  cursor: pointer;
}

[container]:hover [hover-actions] {
  display: flex;
}

[ban-menu-item] {
  color: red;
}

[ban-menu-item]:hover {
  color: #db0000;
}
