<nz-header>
    <div flex>
      <div flex>
        <i *ngIf="group != null" (click)="toggleSider()" mobile-menu-toggle-button nz-icon nzType="menu" nzTheme="outline"></i>
        <i *ngIf="group != null" routerLink="" back-icon nz-icon nzType="double-left" nzTheme="outline"></i>
        <img logo src="../../../../assets/images/logo.png">
      </div>
      <div group *ngIf="group != null" flex>
        <div group-name>{{group.name}}</div>
        <div group-alias>{{group.alias}}</div>
      </div>
    </div>
    <div flex>
      <div user-profile flex nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
        <img *ngIf="currentUser.imageUrl != null" user-icon [src]="currentUser.imageUrl" alt="">
        <nz-avatar *ngIf="currentUser.imageUrl == null" [nzText]="stringTools.getFullnameAbbreviation(currentUser.fullname)" style="color:#2776e6; background-color:#f0f9ff;" user-icon class="user-image" [nzSize]="35"></nz-avatar>
        <div user-profile-name>{{ currentUser.fullname }}</div>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li [routerLink]="['/', 'profile']" nz-menu-item><i nz-icon nzType="user" nzTheme="outline"></i>Profile</li>
          <li (click)="logoutUser()" nz-menu-item logout-menu-item><i nz-icon nzType="logout" nzTheme="outline"></i>Log out</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
