[subject-file] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    margin-bottom: 20px;
}

[file] {
    width: 90%;
    margin-right: 10px;
}

[file-name] {
    width: 85%;
}

[file-name] div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[file-icon] {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

[download-file-icon] {
    cursor: pointer;
    color: #858585;
}

[download-file-icon]:hover {
    color: #2776e6;
}

[loading-overlay-icon] {
    margin-right: 10px;
}