<div event [ngClass]="{'low': event.severity == 1, 'medium': event.severity == 2, 'high': event.severity == 3}">
  <div event-message>{{event.message}}</div>
  <i
    *ngIf="permissionsHelper.hasPermissions(this.permissions,[Permission.Admin, Permission.EventsManager])"
    nz-icon
    open-tile-actions-button
    nzType="more"
    nzTheme="outline"
    [matMenuTriggerFor]="menu"
  ></i>
</div>

<mat-menu #menu="matMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="onEditClick()">
      <i nz-icon nzType="edit" nzTheme="outline"></i>
      <span>Edit</span>
    </li>
    <li delete-menu-item nz-menu-item (click)="onDeleteClick()">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
      <span>Delete</span>
    </li>
  </ul>
</mat-menu>
