:host {
    width: 100%;
}

[header] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

[people-actions] button {
    margin-left: 10px
}

[people-mobile-edit-actions] button {
  margin-left: 10px;
}

[people-actions-menu] {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

[container] {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

[person-image-container] {
    margin-right: 100px;
}

[person-info] {
    display: flex;
    margin-bottom: 50px;
    margin-left: 25px;
}

[person-image] {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

[person-image-container] a {
    margin-top: 15px;
}

[person-metadata] {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

[person-metadata] div[flex-column] {
    margin-right: 100px;
    margin-bottom: 30px;
}

[person-metadata] div[flex-column]:last-child {
    margin-right: 0;
}

[person-data-value] {
    font-size: 20px;
}

app-labeled-field {
    margin-bottom: 25px;
    min-width: 300px;
}

app-labeled-field [copy-icon] {
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 2px;
}

app-labeled-field [copy-icon]:hover {
    color:#2776e6;
}

[person-email], [person-subject] {
    margin-bottom: 25px;
}

[person-subject] {
    padding: 0;
}

[notes] {
    line-height: 2em;
}

app-labeled-field form {
    width: 100%;
}

[dynamic-delete-button] {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #d9d9d9;
    transition: all 0.3s;
}

[dynamic-delete-button]:hover {
    color:red;
}

[email-input] {
    width: 83%;
    margin-right: 10px;
}

[add-button-form-item] {
    margin-bottom: 0;;
}

[person-notes] {
    width: 100%;
}

[subject] {
  width: 24%;
  margin-right: 1.333%;
}

[subject]:nth-child(4n+4) {
  margin-right: 0;
}

[people-actions-menu],
[people-mobile-edit-actions]{
  display: none;
}

[delete-menu-button] {
  color: red;
}

[breadcrumb] {
  display: none;
  margin-bottom: 10px;
}

@media screen and (max-width: 1300px) {

    [person-info] {
        flex-direction: column;
    }

  [people-actions] {
    display: none;
  }

  [people-actions-menu],
  [people-mobile-edit-actions] {
    display: flex;
  }

  [subject] {
    width: 100%;
    margin-right: 0;
  }

}

@media screen and (max-width: 950px) {
   [container] {
     margin-left: 0;
     margin-top: 30px
   }

  [person-image-container] {
    margin-right: 0;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  [person-info] {
    margin-bottom: 0;
    margin-left: 0;
  }

  [breadcrumb] {
    display: block;
  }

  [person-metadata] div[flex-column] {
    margin-right: 0;
    margin-bottom: 0;
  }

}
