<div *ngIf="pageLoadProperties.isDataLoaded && pageLoadProperties.isAccessAllowed">
  <app-group-breadcrumb
    breadcrumb
    *ngIf="group != null"
    [group]="group"
    [items]="['Associated people', personId == null ? 'Create' : person.fullname]"
  ></app-group-breadcrumb>

  <div header>
    <div flex>
      <button (click)="backClick()" *ngIf="view == PageView.Read || view == PageView.Edit && person.id == null" nz-button flex-button nzType="default">
        <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
        <span>Back</span>
      </button>
    </div>

    <div *ngIf="permissionsHelper.hasPermissions(this.permissions,[Permission.Admin, Permission.AssociatedPeopleManager])" flex people-actions>
      <button (click)="manageSubjectsClick()" *ngIf="view == PageView.Read" nz-button nzType="default">
        <i nz-icon nzType="filter" nzTheme="outline"></i>
        <span>Manage subjects</span>
      </button>
      <button (click)="onDelete()" *ngIf="view == PageView.Read" nz-button nzDanger flex-button nzType="default">
        <i nz-icon nzType="delete" nzTheme="outline"></i>
        <span>Delete</span>
      </button>
      <button (click)="onCancel()" *ngIf="view == PageView.Edit && person.id != null" nz-button nzDanger flex-button nzType="default">
        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
        <span>Cancel</span>
      </button>
      <button (click)="onEdit()" *ngIf="view == PageView.Read" nz-button flex-button nzType="primary">
        <i nz-icon nzType="edit" nzTheme="outline"></i>
        <span>Edit</span>
      </button>
      <button (click)="onUpdate()" *ngIf="view == PageView.Edit && person.id != null" nz-button flex-button nzType="primary">
        <i nz-icon nzType="check" nzTheme="outline"></i>
        <span>Update</span>
      </button>
      <button (click)="onCreate()" *ngIf="view == PageView.Edit && person.id == null" nz-button flex-button nzType="primary">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        <span>Create</span>
      </button>
    </div>

    <div flex people-mobile-edit-actions *ngIf="permissionsHelper.hasPermissions(this.permissions,[Permission.Admin, Permission.AssociatedPeopleManager]) && view == PageView.Edit">
      <button (click)="onCancel()" *ngIf="view == PageView.Edit && person.id != null" nz-button nzDanger flex-button nzType="default">
        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
        <span>Cancel</span>
      </button>
      <button (click)="onUpdate()" *ngIf="view == PageView.Edit && person.id != null" nz-button flex-button nzType="primary">
        <i nz-icon nzType="check" nzTheme="outline"></i>
        <span>Update</span>
      </button>
      <button (click)="onCreate()" *ngIf="view == PageView.Edit && person.id == null" nz-button flex-button nzType="primary">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        <span>Create</span>
      </button>
    </div>

    <i *ngIf="permissionsHelper.hasPermissions(this.permissions,[Permission.Admin, Permission.AssociatedPeopleManager]) && view == PageView.Read" people-actions-menu nz-icon nzType="more" nzTheme="outline" [matMenuTriggerFor]="menu"></i>
  </div>

  <div container>
    <div person-info>
      <div flex-column person-image-container>
        <nz-avatar *ngIf="personImageURL == null" [nzText]="getAbbreviation(person.fullname)" style="color:#2776e6; background-color:#f0f9ff; font-size: 40px;" [nzSize]="200" person-image></nz-avatar>
        <img *ngIf="personImageURL != null" [src]="personImageURL" person-image>
        <a *ngIf="view == PageView.Edit" nz-button (click)="imageSelector.click()" nzType="link">Update image</a>
        <input #imageSelector type="file" style="display:none" accept="image/*" (change)="imageSelected($event.target.files[0])">
      </div>
      <div person-metadata>
        <div flex-column>
          <app-labeled-field label="Fullname">
            <span *ngIf="view == PageView.Read" person-data-value>{{person.fullname}}</span>
            <input *ngIf="view == PageView.Edit" nz-input placeholder="John Doe" [(ngModel)]="person.fullname"/>
          </app-labeled-field>
          <app-labeled-field *ngIf="view == PageView.Read && person.birthdate != null" label="Birthdate">
            <span person-data-value>{{person.birthdate | date: 'longDate'}}</span>
          </app-labeled-field>
          <app-labeled-field *ngIf="view == PageView.Edit" label="Birthdate">
            <nz-date-picker [(ngModel)]="person.birthdate"></nz-date-picker>
          </app-labeled-field>
          <app-labeled-field *ngIf="view == PageView.Read && person.phone != null" label="Phone">
            <span person-data-value>{{person.phone}}</span>
          </app-labeled-field>
          <app-labeled-field *ngIf="view == PageView.Edit" label="Phone">
            <input nz-input placeholder="(+xxx)xx-xxx-xx-xx" [(ngModel)]="person.phone"/>
          </app-labeled-field>
        </div>
        <div flex-column>
          <app-labeled-field *ngIf="view == PageView.Read && person.emails?.length > 0" label="Emails">
            <div *ngFor="let email of person.emails" person-email  flex>
              <span person-data-value>{{email}}</span>
              <i copy-icon (click)="copyEmail(email)" nz-tooltip nzTooltipTitle="Copy email" copy-icon nz-icon nzType="copy" nzTheme="outline"></i>
            </div>
          </app-labeled-field>
          <app-labeled-field *ngIf="view == PageView.Edit" label="Emails">
            <form nz-form [formGroup]="emailsForm">
              <nz-form-item *ngFor="let emailControl of emailControls; let i = index">
                <nz-form-control >
                  <input
                    email-input
                    nz-input
                    placeholder="john.doe@mail.com"
                    [attr.id]="emailControl.id"
                    [formControlName]="emailControl.controlInstance"
                  />
                  <i nz-tooltip nzTooltipTitle="Remove email" nz-icon nzType="minus-circle" dynamic-delete-button (click)="removeEmailField(emailControl, $event)"></i>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item add-button-form-item>
                <nz-form-control>
                  <button nz-button nzType="dashed" (click)="addEmailField($event)">
                    <i nz-icon nzType="plus"></i>
                    <span>Add email</span>
                  </button>
                </nz-form-control>
              </nz-form-item>
            </form>
          </app-labeled-field>
        </div>
      </div>
    </div>
    <div flex>
      <app-labeled-field *ngIf="view == PageView.Read && person.notes != null" person-notes label="Notes">
        <p notes
           person-data-value
        >{{person.notes}}</p>
      </app-labeled-field>
      <app-labeled-field *ngIf="view == PageView.Edit" person-notes label="Notes">
            <textarea
              [(ngModel)]="person.notes"
              nz-input
              placeholder="Person notes..."
              [nzAutosize]="{ minRows: 4, maxRows: 4 }"
            ></textarea>
      </app-labeled-field>
    </div>
    <app-section *ngIf="view == PageView.Read && person.subjects?.length != 0" title="Subjects">
      <app-person-subject
        *ngFor="let subject of person.subjects"
        [subject]="subject"
        [groupAlias]="groupAlias"
        subject
      ></app-person-subject>
    </app-section>

  </div>
</div>

<app-access-denied *ngIf="pageLoadProperties.isDataLoaded && !pageLoadProperties.isAccessAllowed"></app-access-denied>

<mat-menu #menu="matMenu">
  <ul nz-menu>
    <li (click)="manageSubjectsClick()" nz-menu-item>
      <i nz-icon nzType="book" nzTheme="outline"></i>
      <span>Manage subjects</span>
    </li>
    <li (click)="onEdit()" nz-menu-item class="delete-menu-button">
      <i nz-icon nzType="edit" nzTheme="outline"></i>
      <span>Edit</span>
    </li>
    <li (click)="onDelete()" nz-menu-item delete-menu-button>
      <i nz-icon nzType="delete" nzTheme="outline"></i>
      <span>Delete</span>
    </li>
  </ul>
</mat-menu>
