<div container>

  <div page-header>
    <div></div>
    <div actions>
      <button routerLink="group/join" flex-button nz-button nzType="default">
        <i nz-icon nzType="login" nzTheme="outline"></i>
        <span>Join group</span>
      </button>
      <button routerLink="group/create" flex-button nz-button nzType="primary">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        <span>Create group</span>
      </button>
    </div>
  </div>

  <div groups-list-container>
    <div groups-list>
      <div *ngFor="let group of groups"  group>
        <img *ngIf="group.imageUrl != null" [src]="group.imageUrl"  group-icon>
        <nz-avatar *ngIf="group.imageUrl == null" [nzText]="group.alias" style="color:#2776e6; background-color:#f0f9ff;" [nzSize]="64" group-icon></nz-avatar>
        <div group-metadata>
          <span [routerLink]="['/', group.alias, 'home']" group-name>{{group.name}}</span>
          <span group-alias>{{group.alias}}</span>
        </div>
        <div group-actions>
          <i *ngIf="!group.isAdmin" (click)="leaveGroupConfirm(group.alias)" nz-icon nzType="close" nzTheme="outline"></i>
        </div>
      </div>
    </div>
  </div>

</div>
