<div event-form-container>
    <input nz-input placeholder="Enter event description..." [(ngModel)]="data.message" />

    <div severity-select-container>
        <span>Severity:</span>
        <nz-select nzShowSearch [(ngModel)]="severityString" (ngModelChange)="severityChanged()">
            <nz-option nzCustomContent nzValue="1" nzLabel="Low">
                <nz-badge [nzColor]="'#828282'"></nz-badge>
                <span>Low</span> 
            </nz-option>
            <nz-option nzCustomContent nzValue="2" nzLabel="Medium">
                <nz-badge [nzColor]="'#2776e6'"></nz-badge> 
                <span>Medium</span>
            </nz-option>
            <nz-option nzCustomContent nzValue="3" nzLabel="High">
                <nz-badge [nzColor]="'#e62727'"></nz-badge> 
                <span>High</span>
            </nz-option>
        </nz-select>
    </div>

    <div actions>
        <button (click)="onCancelClick()" nz-button nzType="primary" nzDanger><i nz-icon nzType="close" nzTheme="outline"></i>Cancel</button>
        <button nz-button nzType="primary" [mat-dialog-close]="data"><i nz-icon nzType="check" nzTheme="outline"></i>{{ data.id != null ? "Update" : "Create" }}</button>
    </div>
</div>
