[subject] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  margin-bottom: 20px;
}

[subject-name] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

[subject-name]:hover {
  color: #2776e6;
  outline: 0;
}
