<div menu-actions>
  <button *ngIf="permissionsHelper.hasPermissions(this.permissions,[Permission.Admin, Permission.NewsManager])" (click)="onAddMemberButtonClick()" action-button flex-button nz-button nzType="primary">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    <span>Add member</span>
  </button>
  <button (click)="onOpenFiltersButtonClick()" action-button flex-button nz-button nzType="default">
    <i nz-icon nzType="filter" nzTheme="outline"></i>
    <span>Filters</span>
  </button>
</div>
