[container]{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[login-form] {
  width: 100%;
}

[login-form-forgot] {
  float: right;
}

[login-form-button] {
  width: 100%;
}

[options] {
  margin-bottom: 20px;
}

.third-party-login-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.third-party-login-button {
  width: 31%;
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.third-party-login-icon {
  width: 20px;
  height: 20px;
}

[login-error] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 20px;
}

[login-error] span {
  color: red;
}

.logo {
  width: 300px;
  margin-bottom: 50px;
}
