:host {
    width: 100%;
}

[breadcrumb] {
  display: none;
  margin-bottom: 5px;
}

[files-container] {
    display: block;
    height: calc(calc(var(--vh, 1vh)) - 136px);
    overflow-y: scroll;
    width: 100%;
    border-top: 1px solid #f0f0f0;
}

[nz-list-item] {
    padding: 16px 5px;
}

[nz-list-item] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

[file-row] {
  width: 100%;
  display: flex;
}

[file-image] {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

[file-name] {
    min-width: 125px;
    font-size: 15px;
    color: #4f4f4f;
}

[files-settings] {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
}

[files-filters] {
    display: flex;
    width: 100%;
}

[search] {
  width: 400px;
}

[actions] button {
    margin-left: 10px;
}

[loading-overlay-icon] {
    margin-right: 10px;
}

[mobile-menu-button] {
  display: none;
  margin-left: 10px;
  padding: 1px 7px;
}

[mobile-menu-button-badge] {
  display: none;
}

[mobile-menu-button] i {
  color: #c7c7c7
}

@media screen and (max-width: 950px) {

  [files-filters], [search] {
    width: 100%;
  }

  [files-settings] {
    margin-bottom: 10px;
  }

  [actions] {
    display: none;
  }

  [mobile-menu-button],
  [mobile-menu-button-badge],
  [breadcrumb]{
    display: block;
  }

  [files-container] {
    height: calc(calc(var(--vh, 1vh)) - 163px);
  }

  [files-container]::-webkit-scrollbar {
    display: none;
  }

  [file-row] {
    width: 90%;
  }

}

