<div header>

  <div flex search-container>
    <nz-input-group nzSearch search [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="Search..."/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>

  <div flex actions>
    <button (click)="onFiltersClick()" flex-button filters-button nz-button nzType="default">
      <i nz-icon nzType="filter" nzTheme="outline"></i>
      <span>Filters</span>
    </button>
    <button *ngIf="permissionsHelper.hasPermissions(this.permissions,[Permission.Admin])" (click)="onAddMemberClick()" flex-button add-member-button nz-button nzType="primary">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      <span>Add members</span>
    </button>
  </div>

  <button (click)="openMobileMenu()" mobile-menu-button nz-button nzType="default">
    <i nz-icon nzType="menu" nzTheme="outline"></i>
  </button>
</div>
