[header] {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

[search-container] {
  display: flex;
  width: 100%;
}

[search] {
  width: 400px;
}

[actions] {
  display: flex;
  justify-content: flex-end;
}

[actions] button {
  margin-left: 10px;
}

[mobile-menu-button] {
  display: none;
  margin-left: 10px;
  padding: 1px 7px;
}

[mobile-menu-button] i {
  color: #c7c7c7
}

@media screen and (max-width: 950px) {

  [header], [search] {
    width: 100%;
  }

  [actions] {
    display: none;
  }

  [mobile-menu-button] {
    display: block;
  }
}
