<div events-container>
    <div events-header>
      <span events-date>{{ date | date: 'longDate' }}</span>
      <button add-event-button flex-button *ngIf="permissionsHelper.hasPermissions(this.permissions,[permission.Admin, permission.EventsManager])" (click)="onAddEventClick()" nz-button nzType="primary">
        <i add-event-plus-icon nz-icon nzType="plus"></i>
        <span>Add event</span>
      </button>
    </div>
    <div>
      <div *ngIf="events?.length > 0" events-section>
        <span events-section-header no-select>Events</span>
        <nz-list>
          <app-event-tile
            *ngFor="let event of events" [event]="event"
            (onEdit)="onEditEvent($event)"
            (onDelete)="onDeleteEvent($event)"
            [permissions]="permissions"
          ></app-event-tile>
        </nz-list>
      </div>
      <div *ngIf="schedule?.length > 0" events-section>
        <span events-section-header no-select>Schedule</span>
        <nz-table [nzData]="schedule" [nzShowPagination]="false">
          <tbody>
            <tr *ngFor="let data of schedule">
              <td>{{ data.time }}</td>
              <td>{{ data.name }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
