[events-container] {
    display: flex;
    flex-direction: column;
}

[events-section] {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

[events-section-header] {
    font-size: 17px;
    margin-bottom: 10px;
    padding-left: 7px;
    border-left: 3px solid #e8e8e8;
}

[events-header] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

[add-event-plus-icon] {
    font-size: 11px;
}

[events-date] {
    font-size: 25px;
    padding: 5px 0;
}

[add-event-button] {
  justify-content: center;
}

@media screen and (max-width: 1350px) {

  [events-date] {
    display: none;
  }

  [add-event-button]{
    width: 100%;
  }

}
