<div *ngIf="pageLoadProperties.isDataLoaded && pageLoadProperties.isAccessAllowed">
  <app-section title="Group Information">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias vitae perspiciatis illum nemo quidem earum cupiditate quibusdam fugit necessitatibus. Soluta, ad asperiores repellat qui nihil illum. Nemo voluptas error modi.</p>
  </app-section>

  <app-section title="Users Management">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias vitae perspiciatis illum nemo quidem earum cupiditate quibusdam fugit necessitatibus. Soluta, ad asperiores repellat qui nihil illum. Nemo voluptas error modi.</p>
  </app-section>
</div>

<app-access-denied *ngIf="pageLoadProperties.isDataLoaded && !pageLoadProperties.isAccessAllowed"></app-access-denied>
