<div container no-select>
  <div error-block>
    <img logo src="../../../../assets/images/access-denied.svg" alt="">
    <div error-message>
      <span error-title> 401, NOT ENOUGH PERMISSIONS TO ACCESS</span>
      <span error-description>Make sure the URL is correct and your account has access. </span>
      <span error-description>Connect with administrator of the group for more details.</span>
      <button routerLink='' back-button nz-button nzType="default">
        <i nz-icon nzType="rollback" nzTheme="outline"></i>
        <span>Back to my groups</span>
      </button>
    </div>
  </div>
</div>
