<div container *ngIf="pageLoadProperties.isDataLoaded && pageLoadProperties.isAccessAllowed">
  <app-group-breadcrumb
    breadcrumb
    *ngIf="group != null"
    [group]="group"
    [items]="['Calendar']"
  ></app-group-breadcrumb>

  <app-date-switcher
    calendar-date-switcher-container
    [date]="date"
    (onDateChange)="onDateSelected($event)"
    [calendarMetadata]="calendar.eventsMetadata"
  ></app-date-switcher>

  <app-calendar-view
    calendar-view-container
    [calendarMetadata]="calendar.eventsMetadata"
    (onDateSelected)="onDateSelected($event)"
  ></app-calendar-view>

  <app-calendar-sider
    calendar-sider-container
    [date]="date"
    [events]="calendar?.dateEvents"
    (onEventDelete)="deleteEvent($event)"
    (onEventCreateUpdate)="createUpdateEvent($event)"
    [permissions]="permissions"
  ></app-calendar-sider>
</div>

<app-access-denied *ngIf="pageLoadProperties.isDataLoaded && !pageLoadProperties.isAccessAllowed"></app-access-denied>
