:host {
  width: 100%;
}

[container] {
  width: 100%;
  display: flex;
  height: fit-content;
}

[breadcrumb] {
  display: none;
  margin-bottom: 5px;
}

[calendar-view-container] {
  display: block;
  width: 75%;
  height: fit-content;
  padding-right: 1%;
  border-right: 1px solid #f0f0f0;
}

[calendar-sider-container] {
  display: block;
  padding-left: 1%;
  width: 25%;
}

[calendar-date-switcher-container] {
  display: none;
  height: fit-content;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (max-width: 1350px) {

  [calendar-view-container] {
    display: none;
  }

  [calendar-sider-container] {
    width: 100%;
  }

  [calendar-date-switcher-container],
  [breadcrumb]{
    display: block
  }

  [container] {
    flex-direction: column;
  }


}
