:host {
    width: 100%;
}

[header] {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

[breadcrumb] {
  display: none;
  margin-bottom: 10px;
}

@media screen and (max-width: 950px) {
  [breadcrumb] {
    display: block;
  }
}
