<div container *ngIf="pageLoadProperties.isDataLoaded && pageLoadProperties.isAccessAllowed">
  <app-group-breadcrumb
    breadcrumb
    *ngIf="group != null"
    [group]="group"
    [items]="['News', newsId == null ? 'Create' : 'Update']"
  ></app-group-breadcrumb>

  <div header>
    <button (click)="onBackClick()" nz-button flex-button nzType="default">
      <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
      <span>Back</span>
    </button>
  </div>

  <app-create-edit-news-form
    *ngIf="news != null"
    [news]="news"
    [attachments]="attachments"
    (onNewsCreateEdit)="createEditNews($event)"
    (onUploadAttachment)="addAttachment($event)"
    (onDeleteAttachment)="deleteAttachment($event)"
    (onDeleteAttachmentUploadRequest)="deleteFileUploadRequest($event)"
  ></app-create-edit-news-form>
</div>

<app-access-denied *ngIf="pageLoadProperties.isDataLoaded && !pageLoadProperties.isAccessAllowed"></app-access-denied>


