
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SteadylearnNg-primary: mat-palette($mat-indigo);
$SteadylearnNg-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$SteadylearnNg-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$SteadylearnNg-theme: mat-light-theme($SteadylearnNg-primary, $SteadylearnNg-accent, $SteadylearnNg-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($SteadylearnNg-theme);

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

[no-select] {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

* {
    font-family: 'Manrope', sans-serif;
}

.ant-card-body {
  padding: 20px 15px !important;
}

app-subjects-list-view::-webkit-scrollbar {
  display: none;
}

.ant-picker-calendar-date-content::-webkit-scrollbar {
  display: none;
}

.ant-picker-calendar-header {
  display: none;
}


.ant-picker-calendar-date-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ant-btn > .anticon {
  line-height: 2;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #ececec;
  border-radius: 3px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken(#ececec, 10);
}

[flex] {
  display: flex;
  align-items: center;
  flex-direction: row;
}

[flex-column] {
  display: flex;
  flex-direction: column;
}

.ant-modal-close {
  display: none;
}


.ant-picker-calendar-date-value {
  font-size: 17px;
}

[formatted] {
  white-space: pre-wrap;
}

[flex-button] {
  display: flex;
  align-items: center;
}

[flex-button] i {
  margin-top: 5px;
  font-size: 15px;
}

[subject-status-badge] .ant-badge-status-text {
  font-size: 20px;
}

.ngx-file-drop__drop-zone {
  height: 200px !important;
  border: 1px dashed #dbdbdb !important;
  background-color: #fafafa;
  border-radius: 2px !important;
}

.ngx-file-drop__drop-zone--over {
  background-color: #fafafa !important;
  border: 1px dashed #858585 !important;
}

.ngx-file-drop__content {
  height: 200px !important;
  flex-direction: column;
}

.ant-form input[type=file] {
  display: none !important;
}

.ant-spin-spinning {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

[file] .ant-spin-spinning {
  background-color: white;
}

[float-left-loading] .ant-spin-spinning {
  justify-content: flex-start;
}

.ant-avatar.ant-avatar-icon {
  font-size: 14px;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

[nz-checkbox] {
  width:100%
}

[nz-checkbox],
[nz-checkbox] span {
  display: flex;
  align-items: center;
}

.ant-input-prefix {
  margin-right: 10px !important;
}


.ant-scroll-number-custom-component {
  right: 3px !important;
  top: 3px !important;
}

.ant-carousel .slick-dots {
  margin: 0;
  z-index: 0;
}

.ant-carousel .slick-dots li {
  background-color: #f0f0f0;
  width: 50px;
  height: 1px;
}

.ant-carousel .slick-dots li.slick-active {
  width: 50px;
}


.ant-carousel .slick-dots li.slick-active button{
  background-color: #999999;
  height: 1px;
}


.slick-slide, .slick-track, .slick-list{
  height: fit-content !important;
}
