<div class="container">
  <div class="filters">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input search nz-input placeholder="Search..." [(ngModel)]="filters.search" (ngModelChange)="getPeople()"/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button search-field-icon nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>

  <nz-checkbox-wrapper
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    [scrollWindow]="false"
    (nzOnChange)="onSelectChange($event)"
    files-container>
    <ul nz-list [nzDataSource]="people" nzSize="large">
      <li nz-list-item *ngFor="let person of people" nzNoFlex>
        <label file nz-checkbox [ngModel]="isSelected(person.id)" [nzValue]="person.id">
          <img *ngIf="person.imageUrl != null" [src]="person.imageUrl" alt="" person-image>
          <nz-avatar *ngIf="person.imageUrl == null" [nzText]="getAbbreviation(person.fullname)" style="color:#2776e6; background-color:#f0f9ff;" [nzSize]="40" person-image></nz-avatar>
          <div file-name>
            <span>{{ person.fullname }}</span>
          </div>
        </label>
      </li>
    </ul>
  </nz-checkbox-wrapper>

  <div class="actions">
    <button (click)="onCancelClick()" nz-button nzType="default" nzDanger>
      <i nz-icon nzType="close" nzTheme="outline"></i>
      <span>Cancel</span>
    </button>
    <button (click)="onSaveClick()" nz-button nzType="primary">
      <i nz-icon nzType="check" nzTheme="outline"></i>
      <span>Save</span>
    </button>
  </div>
</div>
