[group-tile] {
  border-radius: 7px;
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 10px;
}

[group-tile-content] {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

[group-icon] {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

[group-icon-preview] {
  vertical-align: middle;
  font-size: 30px;
  background-color: #ff4d4f;
}

[group-title] {
  margin-top: 30px;
  font-size: 18px;
}

[group-alias] {
  margin-top: 10px;
  font-size: 14px;
  color: silver;
}

[group-actions] {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[group-actions] button {
  border-radius: 25px;
  padding: 0 30px;
  margin: 0 10px;
}

[group-actions] a {
  padding: 0 30px;
  margin: 0 10px;
}
