[dialog-filters]{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

[filters-section] {
  margin-bottom: 25px;
}

[filters-section] span {
  margin-bottom: 5px;
}

[actions] {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

[actions] button {
  margin-left: 10px;
}

nz-radio-group {
  width: 100%;
  display: flex;
  align-items: center;
}

nz-radio-group label {
  width: 100%;
  text-align: center;
}
