[settings] {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

[filters] {
  display: flex;
  width: 100%;
}

[search] {
  width: 400px;
}

[add-news-button] {
    display: flex;
    align-items: center;
    justify-content: center;
}

[add-news-mini-button] {
  margin-left: 10px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

[add-news-mini-button] i {
  margin-top: 4px;
}

[add-news-button] i {
    margin-top: 3px;
    margin-left: 0;
    font-size: 15px;
}

[search-field-icon] img {
    margin-top: -3px;
}

[actions] {
  display: flex;
  justify-content: flex-end;
}


[actions] button {
  margin-left: 10px;
}


[flex-column] {
  margin-bottom: 15px;
}

[flex-column] span {
  margin-bottom: 5px;
}

[modal-actions] {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

[modal-actions] button {
  margin-left: 10px;
}

nz-radio-group {
  display: flex;
}

nz-radio-group label {
  width: 100%;
  text-align: center;
}

[mobile-menu-button] {
  display: none;
  margin-left: 10px;
  padding: 1px 7px;
}

[mobile-menu-button] i {
  color: #c7c7c7
}

[dates-picker-container] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[date-picker] {
  width: 49%;
}

@media screen and (max-width: 950px) {

  [filters], [actions], [search] {
    width: 100%;
  }

  [filters-button] {
    display: none;
  }

  [actions] {
    display: none;
  }

  [mobile-menu-button] {
    display: block;
  }
}
